/************************************************
Stylesheet: Custom Stylesheet
*************************************************/
#featured-hero {
    background-size: cover;
    background-position: 100% 50%;
    background-repeat: no-repeat;
    position: relative;
    height: 12.5rem;
    @include breakpoint(medium) {
              height: 25rem;
        }
}